body {
  background-image: url("weather background.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-forecast-icon {
  font-size: 30px;
  text-align: center;
}
.container {
  background: rgb(200, 200, 200);
  width: 610px;
  height: 500px;
  margin: 20px auto;
  border-radius: 14px;
  padding: 30px;
  box-shadow: black;
}
.search-form-input {
  background-color: lightcyan;
  border: none;
  border-radius: 6px;
  width: 75%;
  padding: 15px 20px;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 16px;
}
.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: rgb(148, 148, 148);
  margin-bottom: 10px;
}
.search-form-button {
  background: navy;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  color: white;
  margin-left: 25px;
  font-size: 16px;
  cursor: pointer;
}
.weather-forecast {
  display: flex;
  margin-top: 140px;
  margin-left: 5px;
  justify-content: space-around;
}
header {
  padding: 0 0 30px 0;
}
.weather-forecast-temperatures {
  color: red;
  text-align: center;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
}
a {
  color: blueviolet;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
  margin-right: 330px;
  margin-top: 100px;
}
main {
  padding: 30px 0;
}
.city {
  margin-right: 0px;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: 54px;
  font-weight: bold;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: gray;
  margin-top: 50px;
  margin-left: -200px;
}
.weather-app-details strong {
  color: red;
}
.weather-app-temperature-value {
  font-size: 84px;
  font-weight: bold;
  margin-top: -10px;
}
.weather-app-temperature-container {
  display: flex;
  margin-left: 350px;
  margin-top: -200px;
}
.weather-icon {
  width: 88px;
  height: 88px;
  font-weight: bold;
  line-height: 1;
}

.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}
